<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="{{toys.pic}}"
            class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{toys.category}}</h5>
              <p class="text-muted mb-4">{{toys.name}}</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>{{toys.name}}</span><span>{{toys.Price}}</span>
              </div>
            </div>
            <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
             <tr>
               <th colspan="2">
                  <button class="btn btn-success">OK</button>
               </th>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>